<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link href="/style.css" rel="stylesheet">
<title>Edit Super</title>
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<!--nav bar-->
<div class="navbar"> <a href="/">Home</a>
  <div class="dropdown">
    <button class="dropbtn">Supers ↓ <i class="fa fa-caret-down"></i> </button>
    <div class="dropdown-content"> <a href="addSuper">Add Super</a> <a href="listSupers">View Supers</a> <a href="editSuper">Edit Super</a> </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">Sightings ↓ <i class="fa fa-caret-down"></i> </button>
    <div class="dropdown-content"> <a href="addSighting">Add Sighting</a> <a href="listSightings">View Sightings</a> <a href="editSighting">Edit Sighting</a> </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">Organisations ↓ <i class="fa fa-caret-down"></i> </button>
    <div class="dropdown-content"> <a href="addOrg">Add Organisation</a> <a href="listOrgs">View Organisations</a> <a href="editOrg">Edit Organisation</a> </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">Locations ↓ <i class="fa fa-caret-down"></i> </button>
    <div class="dropdown-content"> <a href="addLocation">Add Location</a> <a href="listLocations">View Locations</a> <a href="editLocation">Edit Location</a> </div>
  </div>
</div>
<!--end nav-->
<h1>Edit Superhero / Supervillain</h1>
<div>
  <div>
    <form method="post" action="/editOrg">
      <select onchange="this.form.submit()" class="form-control" id="orgOptions" name="orgOptions" >
        <option value="">Select Org</option>
        <option th:each="org, in : ${orgsList}"
			                th:value="${org.id}"
			                th:text="${org.name}"> </option>
      </select>
    </form>
    <br>
    <br>
    <form method="post" action="postOrg">
      <label for="name">Name</label>
      <br>
      <input type="text" th:value="${org.name}" name="name" id="name">
      <br>
      <br>
      <label for="description">Description</label>
      <br>
      <input type="text" th:value="${org.description}" name="description" id="description">
      <br>
      <br>
      <label for="contactInfo">Contact Info</label>
      <br>
      <input type="text" th:value="${org.contactInfo}" name="contactInfo" id="contactInfo">
      <br>
      <br>
      <label for="supers">Super Hero/Villain</label>
      <br>
      <input type="text" th:value="${org.supers}" name="supers" id="supers">
      <br>
      <br>
      <input type="submit" value="Make Changes!">
    </form>
  </div>
  <br>
  <br>
</div>
</body>
</html>